
@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot");
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  } 
  
  @font-face {
    font-family: "ArialBold";
    src: url("../fonts/Arial/ArialBold/ArialBold.eot");
    src: url("../fonts/Arial/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialBold/ArialBold.woff") format("woff"),
    url("../fonts/Arial/ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ArialBoldItalic";
    src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot");
    src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
    url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ArialItalic";
    src: url("../fonts/Arial/ArialItalic/ArialItalic.eot");
    src: url("../fonts/Arial/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialItalic/ArialItalic.woff") format("woff"),
    url("../fonts/Arial/ArialItalic/ArialItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ArialBlack";
    src: url("../fonts/Arial/ArialBlack/ArialBlack.eot");
    src: url("../fonts/Arial/ArialBlack/ArialBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialBlack/ArialBlack.woff") format("woff"),
    url("../fonts/Arial/ArialBlack/ArialBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata/Prata-Regular.eot');
    src: url('../fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata/Prata-Regular.woff') format('woff'),
        url('../fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.schow-top-animation.element-animation {
    opacity: 0;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1.5s;
         -o-transition-duration: 1.5s;
            transition-duration: 1.5s;
  }
  
  .schow-top-animation.element-animation.element-schow {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .animation-delay-600.element-schow {
    -webkit-transition-delay: 600ms;
         -o-transition-delay: 600ms;
            transition-delay: 600ms;
  }
  
  .animation-delay-700.element-schow {
    -webkit-transition-delay: 700ms;
         -o-transition-delay: 700ms;
            transition-delay: 700ms;
  }
  
  .animation-delay-800.element-schow {
    -webkit-transition-delay: 800ms;
         -o-transition-delay: 800ms;
            transition-delay: 800ms;
  }
  .animation-delay-1400.element-schow {
    -webkit-transition-delay: 1400ms;
         -o-transition-delay: 1400ms;
            transition-delay: 1400ms;
  }

@mixin fluid-text($max: 38, $min: 28) {
    font-size: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px); 
}
  
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed; 
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-white: #fff;
  --color-hero-dark: #282829;
  --color-dark: #222; 
  --color-accent: #38535d; 
  --font-family: "ArialRegular"; 
}

.mb-50 {
    margin-bottom: 50px;
}
.w-100 {
    width: 100%;
}

body {
    font-family: var(--font-family); 
    background: var(--color-hero-dark);
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
} 

.main-title {
    font-family: 'Prata';
    font-weight: 400;
    font-size: clamp(30px, 6.166667vw, 80px);
    line-height: 120%;
    color: var(--color-white);

    @media (max-height: 700px) {
        font-size: clamp(30px, 3.16667vw, 80px);
        margin-bottom: 20px;
    }
}

.btn {
@include fluid-text(20, 16);

  font-family: "ArialBold";
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-hero-dark);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: clamp(10px, 2vw, 32px) 52px; 
  position: relative;
  cursor: pointer;
}
.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 100%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--color-white);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.btn:hover {
    color: var(--color-dark);
    background: var(--color-white);
    border-color: var(--color-white);
}

.btn:hover::after {
    opacity: 1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn.light:hover::after {
    opacity: 1;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3) 0%, rgba(56, 83, 93, 0.2) 50%, rgba(255, 255, 255, 0.3) 100%);
}

.btn.light {
  background: var(--color-white);
}
.btn.dark {
  background: var(--color-hero-dark);
}

.main {
    width: 100%;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    padding: 40px 0;
    transition: all .3s ease;

    &.header.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #222222a1;
        backdrop-filter: blur(15px);
        padding: 10px 0;
        z-index: 100;

        .nav {
            margin-left: auto;
        }

        .main-logo {
            width: 156px;
        }
      }

      @media (max-width: 425px) {
        padding: 15px 0;
      }
}

.nav {
    @media (max-width: 425px) {
        position: absolute;
        top: 65px;
        right: 20px;
        padding: 10px;
        background: #282829;
        border: 1px solid #ffffff38;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease; 
    }

    &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

.header-wrapper {
    display: flex;
    align-items: center;
}
.main-logo {
    width: 256px;

    img {
        width: 100%;
        height: auto;
    }

    &.margin-right-200 {
        margin-right: 200px;

        @media (max-width: 1195px) {
            margin-right: 145px;
        }
        @media (max-width: 576px) {
            margin-right: 40px;
        }
      } 

    @media (max-width: 1195px) {
        width: 150px;
    }
} 
.nav {  
    @media (max-width: 834px) {
       margin-left: auto;
    }
}
.nav-items {
    max-width: 100%;
    display: flex;
    gap: 30px;
    

    @media (max-width: 1195px) {
        gap: 20px;
    }
    @media (max-width: 425px) {
        flex-direction: column;
        text-align: right;
    }
}
.menu-item {
    position: relative;

    a {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--color-white);
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--color-accent);
            text-shadow: 0px 0px 10px var(--color-accent);
        }

        @media (max-width: 1195px) {
            font-size: 14px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        width: 0;
        height: 2px;
        background: var(--color-accent);
        transition: width 0.4s ease, left 0.4s ease;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }
}

.hero {
    background: var(--color-dark);
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;

}

.hero-column__one {
    width: calc(1160 / 1930) * 100%;
    padding: 270px 30px 50px calc(160 / 1920)*100%;

    @media (max-width: 1195px) {
        padding: 170px 30px 50px 2.333333%;
    }

    @media (max-width: 834px) {
        width: 100%;
        background: 
        linear-gradient(to bottom, #222222e3 100%, rgba(34, 34, 34, 0.5) 100%), 
        url(../images/main-foto.jpg);
        background-position: 5% 70px;
        background-repeat: no-repeat;
        background-size: inherit;
    }
    @media (max-width: 425px) {
        background-position: 27% 70px;
    }

    @media (max-height: 700px) {
        padding: 170px 30px 50px 8.33333%;
    }

}
.hero__content {
    width: 80%;

    .btn {
        width: 500px;
        max-width: 100%;
    }

    @media (max-width: 1195px) {
        width: 90%;
    }
    @media (max-width: 834px) {
        width: 60%;
    }
    @media (max-width: 576px) {
        width: 80%;
    }

    @media (max-height: 700px) {
        width: 100%;
    }
}
.main-title {
}
.hero__subtitle {
    @include fluid-text(50, 20);

    font-family: var(--font-family);
    font-weight: 400;
    line-height: 120%;
    color: #fff;

    @media (max-height: 700px) {
        font-size: clamp(20px, 1.604167vw, 50px);
    }
}
.hero__list {
    margin-bottom: 40px;
}
.hero__list-item {
    @include fluid-text(24, 18);

    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 110%;
    text-align: left;
    color: var(--color-white);

    img {
      width: 40px;
      margin-right: 17px;  

      @media (max-width: 834px) {
            width: 30px;
        }

        @media (max-height: 700px) {
            width: 30px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 35px;

        @media (max-height: 700px) {
            margin-bottom: 20px;
        }
    }
}
.hero__button {
    margin-top: 40px;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 0%, rgb(34, 34, 34) 0%);  
    }
    100% {
        background: radial-gradient(circle, rgb(34 34 34 / 12%) 0%, rgba(56, 83, 93, 0.2) 14%, rgb(34 34 34) 90%);
    } 
}

.hero-column_two {
    position: relative;
    width: calc(763 / 1930) * 100%;
    background: url(../images/main-foto.jpg) left center no-repeat;
    background-size: cover;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba(34, 34, 34, 0.12) -3%, rgba(56, 83, 93, 0.2) -18%, rgb(34, 34, 34) -8%);
    }

    &::after {
        content: "";
        width: 200px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgb(34 34 34) 0%, rgb(34 34 34) 14%, rgb(34 34 34 / 11%) 90%);
    }
    @media (max-width: 1440px) {
        background: url(../images/main-foto.jpg) 50% center no-repeat;
        background-size: cover;
    }
    @media (max-width: 1195px) {
        background: url(../images/main-foto.jpg) center top no-repeat;
    }

    @media (max-width: 834px) {
        display: none;
    }

    &.show {
        &::before {
            animation: gradient 2s alternate forwards ease-in-out; 
        }
    }
}

// Раздел услуги

.services {
    width: 100%;
    padding-top: 100px;
}
.services__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1195px) {
        flex-direction: column;
        gap: 50px;
    }
}

.services__column_img {
    position: relative;
    width: calc(622 / 1930)*100%;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 14%, rgb(40 40 41) 80%);
    }

    &::after {
        content: "";
        width: 200px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgb(40 40 41) 0%, rgb(40 40 41) 14%, rgba(34, 34, 34, 0.11) 90%);
    }

    @media (max-width: 1280px) {
        width: 26.227979%;
    }

    @media (max-width: 1195px) {
        width: 60%;
        height: 400px;
    }

    @media (max-width: 834px) {
        width: 70%;
        height: 300px;
    }
}
.services__column_info {
    width: 35.5%;
    padding: 55px 55px 0px 55px;

    @media (max-width: 1280px) {
        width: 47.5%;
        padding: 55px 55px 55px 55px;
    }

    @media (max-width: 1195px) {
        width: 58.5%;
        padding: 38px;
        margin: auto;
    }
    @media (max-width: 834px) {
        width: 75%;
    }
    @media (max-width: 576px) {
        width: 90%;
    }
    @media (max-width: 425px) {
        width: 100%;
    }
    @media (max-width: 395px) {
        padding: 10px 10px;
    }
}

.services-item {
    @include fluid-text(24, 20);

    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-white);

    &:first-child {
        padding: 0px 0px 40px;
    }
    &:not(:first-child) {
        padding: 40px 0;

        @media (max-width: 1440px) {
            padding: 20px 0; 
        }
        @media (max-width: 1195px) {
            padding: 25px 0;    
        }
    }
    &:not(:last-child) {
        border-bottom: 1px solid #55565a85;
    }

    img {
        width: calc(58 / 565)*100%;

        @media (max-width: 834px) {
            width: 7%;
        }
    }
}

.services__column_left {
    background: url(../images/services-1.jpg) center no-repeat;
    background-size: cover;

}

.services__column_right  {
    background: url(../images/services-2.jpg) left center no-repeat;
    background-size: cover;

    @media (max-width: 1195px) {
        margin-left: auto; 
        background: url(../images/services-2.jpg) center top no-repeat; 
        background-size: cover;
    }
}
.services-button {
    margin-top: 40px;
}


.contact {
    width: 100%;
    padding: 100px 0;

    @media (max-width: 1195px) {
        padding: 200px 0 100px; 
    }
    @media (max-width: 834px) {
        padding: 100px 0 100px; 
    }
}

.contact__container {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background: var(--color-white);

    @media (max-width: 490px) {
        overflow: hidden;
    }
}
.contact__form-column {
    width: calc(990 / 1600)*100%;
    padding: 70px 50px 70px 134px;

    @media (max-width: 1280px) {
        padding: 70px 50px 70px 70px;  
    }

    @media (max-width: 1195px) {
        padding: 50px;  
    }
    @media (max-width: 576px) {
        padding: 25px;  
    }
    @media (max-width: 490px) {
        width: 100%; 
        background: linear-gradient(to right, rgb(255 255 255 / 94%) 0%, rgb(240 241 241 / 91%) 47%), url(../images/main-foto.jpg);
        background-position: 30% 0px;
        background-repeat: no-repeat;
        background-size: inherit;
    }
}

.contact-form {
    width: 100%;

    div {
        width: 100%;

        input:not([type="checkbox"]) {
            width: 100%;
            border: 2px solid #d6d6d6;
            border-radius: 4px;
            padding: 13px 20px 13px 38px;
            height: 65px;
            margin-bottom: 13px;

            &::placeholder {
                font-weight: 400;
                font-size: 24px;
                line-height: 150%;
                color: #55565a;
                opacity: 0.7;

                @media (max-width: 834px) {
                    font-size: 20px;
                }
                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }

            @media (max-width: 834px) {
                height: 45px;
                padding: 13px 20px 13px 15px;
            }
            @media (max-width: 576px) {
                padding: 13px 20px 10px 15px;
            }
        }

        [type="checkbox"] {
            margin-bottom: 30px;
        }

        label {
            font-weight: 400;
            font-size: 19px;
            line-height: 130%;
            color: var(--color-accent);
        }

        &:nth-child(3) {
            display: flex;
        }
    }

    .btn {
        color: var(--color-white);
    }
}
.contact__title {
    @include fluid-text(54, 20);

    font-weight: 400;
    line-height: 110%;
    color: var(--color-accent);
    margin-bottom: 45px;

    @media (max-width: 992px) {
        margin-bottom: 20px;
    }
}

.contact__decor {
    position: relative;
    width: 58%;
    background: url(../images/8-8-3.png) center bottom no-repeat;
    background-size: cover;
    border-radius: 0 30px 30px 0;

    @media (max-width: 992px) {
        width: 35%;  
    }
    @media (max-width: 490px) {
        display: none; 
    }
}

.contact__decor_img {
    position: absolute;
    width: 522px;
    bottom: 0;
    left: -35px;

    @media (max-width: 1195px) {
        width: 460px;
    }
}

.custom-checkbox {
    display: flex;
    gap: 16px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 28px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox .checkbox-box {
    width: 24px;
    height: 24px;
    border: 2px solid #405d65; /* По макету */
    border-radius: 4px;
    position: relative;
    transition: all 0.3s ease;
}

.custom-checkbox:hover .checkbox-box {
    border-color: var(--color-accent);
}

.custom-checkbox input:checked + .checkbox-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 6px;
    border: 2px solid var(--color-accent);
    border-top: none;
    border-right: none;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.custom-checkbox input:checked + .checkbox-box {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.bottom-menu {
    padding: 40px 0;
    border-top: 2px solid #d5c9be40;
    border-bottom: 2px solid #d5c9be40;
    background: var(--color-dark);
    .nav {
        width: fit-content;
        margin: auto;
    }
}


.footer {
    width: 100%;
    padding: 40px 0;
}
.footer__top {
    .main-logo {
        width: 193px;
    }
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-wrap: wrap; 
        gap: 30px;
    }
}

.social {
    display: flex;
    gap: 32px;

    @media (max-width: 576px) {
        gap: 20px;
    } 
    @media (max-width: 360px) {
        gap: 15px;
    }

    a {
        @media (max-width: 360px) {
            display: inline-block;
            width: 20px;
        }
    }
}

.footer__bottom {
    padding-top: 38px;
    padding-bottom: 60px;
    p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: var(--color-white);

            @media (max-width: 425px) {
                font-size: 14px;
            }
        }

        a {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #d5c9be;
            text-decoration: none;

            @media (max-width: 425px) {
                font-size: 14px;
            }
        }
    }
}

.footer__btn {

    .btn {
        @media (max-width: 768px) {
            width: 195px;  
        } 
    }

    @media (max-width: 768px) {
        width: 100%;  
    }
}

.menu-btn {
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #444;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.4s ease, background 0.3s ease;
    display: none;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    @media (max-width: 425px) {
        display: flex;
    }
}

.menu-btn.active {
    transform: rotateY(180deg); 
    background: #ff5733; 
}

.menu-btn.active::after {
    content: "→";
    font-size: 31px;
    font-weight: bold;
    position: absolute;
    left: 1%;
    top: 35%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(173deg) rotate(89deg);
}

.menu-btn::after {
    content: "?";
    font-size: 20px;
    font-weight: bold;
}



