@charset "UTF-8";
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/Arial/ArialRegular/ArialRegular.eot");
  src: url("../fonts/Arial/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/Arial/ArialBold/ArialBold.eot");
  src: url("../fonts/Arial/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialBold/ArialBold.woff") format("woff"), url("../fonts/Arial/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ArialBoldItalic";
  src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.woff") format("woff"), url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/Arial/ArialItalic/ArialItalic.eot");
  src: url("../fonts/Arial/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/Arial/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/Arial/ArialBlack/ArialBlack.eot");
  src: url("../fonts/Arial/ArialBlack/ArialBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialBlack/ArialBlack.woff") format("woff"), url("../fonts/Arial/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata/Prata-Regular.eot");
  src: url("../fonts/Prata/Prata-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Prata/Prata-Regular.woff2") format("woff2"), url("../fonts/Prata/Prata-Regular.woff") format("woff"), url("../fonts/Prata/Prata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.schow-top-animation.element-animation {
  opacity: 0;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.schow-top-animation.element-animation.element-schow {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.animation-delay-600.element-schow {
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
}

.animation-delay-700.element-schow {
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.animation-delay-800.element-schow {
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms;
}

.animation-delay-1400.element-schow {
  -webkit-transition-delay: 1400ms;
  -o-transition-delay: 1400ms;
  transition-delay: 1400ms;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-white: #fff;
  --color-hero-dark: #282829;
  --color-dark: #222;
  --color-accent: #38535d;
  --font-family: "ArialRegular";
}

.mb-50 {
  margin-bottom: 50px;
}

.w-100 {
  width: 100%;
}

body {
  font-family: var(--font-family);
  background: var(--color-hero-dark);
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.main-title {
  font-family: "Prata";
  font-weight: 400;
  font-size: clamp(30px, 6.166667vw, 80px);
  line-height: 120%;
  color: var(--color-white);
}
@media (max-height: 700px) {
  .main-title {
    font-size: clamp(30px, 3.16667vw, 80px);
    margin-bottom: 20px;
  }
}

.btn {
  font-size: clamp(16px, 1.0416666667vw, 20px);
  font-family: "ArialBold";
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-hero-dark);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: clamp(10px, 2vw, 32px) 52px;
  position: relative;
  cursor: pointer;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(330deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--color-white);
  -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.btn:hover {
  color: var(--color-dark);
  background: var(--color-white);
  border-color: var(--color-white);
}

.btn:hover::after {
  opacity: 1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn.light:hover::after {
  opacity: 1;
  background: -o-linear-gradient(330deg, rgba(255, 255, 255, 0.3) 0%, rgba(56, 83, 93, 0.2) 50%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3) 0%, rgba(56, 83, 93, 0.2) 50%, rgba(255, 255, 255, 0.3) 100%);
}

.btn.light {
  background: var(--color-white);
}

.btn.dark {
  background: var(--color-hero-dark);
}

.main {
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  padding: 40px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(34, 34, 34, 0.631372549);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 10px 0;
  z-index: 100;
}
.header.header.scrolled .nav {
  margin-left: auto;
}
.header.header.scrolled .main-logo {
  width: 156px;
}
@media (max-width: 425px) {
  .header {
    padding: 15px 0;
  }
}

@media (max-width: 425px) {
  .nav {
    position: absolute;
    top: 65px;
    right: 20px;
    padding: 10px;
    background: #282829;
    border: 1px solid rgba(255, 255, 255, 0.2196078431);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    opacity: 0;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
.nav.open {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-logo {
  width: 256px;
}
.main-logo img {
  width: 100%;
  height: auto;
}
.main-logo.margin-right-200 {
  margin-right: 200px;
}
@media (max-width: 1195px) {
  .main-logo.margin-right-200 {
    margin-right: 145px;
  }
}
@media (max-width: 576px) {
  .main-logo.margin-right-200 {
    margin-right: 40px;
  }
}
@media (max-width: 1195px) {
  .main-logo {
    width: 150px;
  }
}

@media (max-width: 834px) {
  .nav {
    margin-left: auto;
  }
}

.nav-items {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 1195px) {
  .nav-items {
    gap: 20px;
  }
}
@media (max-width: 425px) {
  .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
}

.menu-item {
  position: relative;
}
.menu-item a {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.menu-item a:hover {
  color: var(--color-accent);
  text-shadow: 0px 0px 10px var(--color-accent);
}
@media (max-width: 1195px) {
  .menu-item a {
    font-size: 14px;
  }
}
.menu-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--color-accent);
  -webkit-transition: width 0.4s ease, left 0.4s ease;
  -o-transition: width 0.4s ease, left 0.4s ease;
  transition: width 0.4s ease, left 0.4s ease;
}
.menu-item:hover::after {
  width: 100%;
  left: 0;
}

.hero {
  background: var(--color-dark);
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-column__one {
  width: 60.103626943%;
  padding: 270px 30px 50px 8.3333333333%;
}
@media (max-width: 1195px) {
  .hero-column__one {
    padding: 170px 30px 50px 2.333333%;
  }
}
@media (max-width: 834px) {
  .hero-column__one {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(34, 34, 34, 0.8901960784)), to(rgba(34, 34, 34, 0.5))), url(../images/main-foto.jpg);
    background: -o-linear-gradient(top, rgba(34, 34, 34, 0.8901960784) 100%, rgba(34, 34, 34, 0.5) 100%), url(../images/main-foto.jpg);
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8901960784) 100%, rgba(34, 34, 34, 0.5) 100%), url(../images/main-foto.jpg);
    background-position: 5% 70px;
    background-repeat: no-repeat;
    background-size: inherit;
  }
}
@media (max-width: 425px) {
  .hero-column__one {
    background-position: 27% 70px;
  }
}
@media (max-height: 700px) {
  .hero-column__one {
    padding: 170px 30px 50px 8.33333%;
  }
}

.hero__content {
  width: 80%;
}
.hero__content .btn {
  width: 500px;
  max-width: 100%;
}
@media (max-width: 1195px) {
  .hero__content {
    width: 90%;
  }
}
@media (max-width: 834px) {
  .hero__content {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .hero__content {
    width: 80%;
  }
}
@media (max-height: 700px) {
  .hero__content {
    width: 100%;
  }
}

.hero__subtitle {
  font-size: clamp(20px, 2.6041666667vw, 50px);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 120%;
  color: #fff;
}
@media (max-height: 700px) {
  .hero__subtitle {
    font-size: clamp(20px, 1.604167vw, 50px);
  }
}

.hero__list {
  margin-bottom: 40px;
}

.hero__list-item {
  font-size: clamp(18px, 1.25vw, 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  color: var(--color-white);
}
.hero__list-item img {
  width: 40px;
  margin-right: 17px;
}
@media (max-width: 834px) {
  .hero__list-item img {
    width: 30px;
  }
}
@media (max-height: 700px) {
  .hero__list-item img {
    width: 30px;
  }
}
.hero__list-item:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-height: 700px) {
  .hero__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero__button {
  margin-top: 40px;
}

@-webkit-keyframes gradient {
  0% {
    background: radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 0%, rgb(34, 34, 34) 0%);
  }
  100% {
    background: radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 14%, rgb(34, 34, 34) 90%);
  }
}

@keyframes gradient {
  0% {
    background: -o-radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 0%, rgb(34, 34, 34) 0%);
    background: radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 0%, rgb(34, 34, 34) 0%);
  }
  100% {
    background: -o-radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 14%, rgb(34, 34, 34) 90%);
    background: radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 14%, rgb(34, 34, 34) 90%);
  }
}
.hero-column_two {
  position: relative;
  width: 39.5336787565%;
  background: url(../images/main-foto.jpg) left center no-repeat;
  background-size: cover;
}
.hero-column_two::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -o-radial-gradient(circle, rgba(34, 34, 34, 0.12) -3%, rgba(56, 83, 93, 0.2) -18%, rgb(34, 34, 34) -8%);
  background: radial-gradient(circle, rgba(34, 34, 34, 0.12) -3%, rgba(56, 83, 93, 0.2) -18%, rgb(34, 34, 34) -8%);
}
.hero-column_two::after {
  content: "";
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(34, 34, 34)), color-stop(14%, rgb(34, 34, 34)), color-stop(90%, rgba(34, 34, 34, 0.11)));
  background: -o-linear-gradient(left, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 14%, rgba(34, 34, 34, 0.11) 90%);
  background: linear-gradient(to right, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 14%, rgba(34, 34, 34, 0.11) 90%);
}
@media (max-width: 1440px) {
  .hero-column_two {
    background: url(../images/main-foto.jpg) 50% center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1195px) {
  .hero-column_two {
    background: url(../images/main-foto.jpg) center top no-repeat;
  }
}
@media (max-width: 834px) {
  .hero-column_two {
    display: none;
  }
}
.hero-column_two.show::before {
  -webkit-animation: gradient 2s alternate forwards ease-in-out;
          animation: gradient 2s alternate forwards ease-in-out;
}

.services {
  width: 100%;
  padding-top: 100px;
}

.services__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1195px) {
  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.services__column_img {
  position: relative;
  width: 32.2279792746%;
}
.services__column_img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -o-radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 14%, rgb(40, 40, 41) 80%);
  background: radial-gradient(circle, rgba(34, 34, 34, 0.12) 0%, rgba(56, 83, 93, 0.2) 14%, rgb(40, 40, 41) 80%);
}
.services__column_img::after {
  content: "";
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(40, 40, 41)), color-stop(14%, rgb(40, 40, 41)), color-stop(90%, rgba(34, 34, 34, 0.11)));
  background: -o-linear-gradient(left, rgb(40, 40, 41) 0%, rgb(40, 40, 41) 14%, rgba(34, 34, 34, 0.11) 90%);
  background: linear-gradient(to right, rgb(40, 40, 41) 0%, rgb(40, 40, 41) 14%, rgba(34, 34, 34, 0.11) 90%);
}
@media (max-width: 1280px) {
  .services__column_img {
    width: 26.227979%;
  }
}
@media (max-width: 1195px) {
  .services__column_img {
    width: 60%;
    height: 400px;
  }
}
@media (max-width: 834px) {
  .services__column_img {
    width: 70%;
    height: 300px;
  }
}

.services__column_info {
  width: 35.5%;
  padding: 55px 55px 0px 55px;
}
@media (max-width: 1280px) {
  .services__column_info {
    width: 47.5%;
    padding: 55px 55px 55px 55px;
  }
}
@media (max-width: 1195px) {
  .services__column_info {
    width: 58.5%;
    padding: 38px;
    margin: auto;
  }
}
@media (max-width: 834px) {
  .services__column_info {
    width: 75%;
  }
}
@media (max-width: 576px) {
  .services__column_info {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .services__column_info {
    width: 100%;
  }
}
@media (max-width: 395px) {
  .services__column_info {
    padding: 10px 10px;
  }
}

.services-item {
  font-size: clamp(20px, 1.25vw, 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  font-weight: 400;
  line-height: 140%;
  color: var(--color-white);
}
.services-item:first-child {
  padding: 0px 0px 40px;
}
.services-item:not(:first-child) {
  padding: 40px 0;
}
@media (max-width: 1440px) {
  .services-item:not(:first-child) {
    padding: 20px 0;
  }
}
@media (max-width: 1195px) {
  .services-item:not(:first-child) {
    padding: 25px 0;
  }
}
.services-item:not(:last-child) {
  border-bottom: 1px solid rgba(85, 86, 90, 0.5215686275);
}
.services-item img {
  width: 10.2654867257%;
}
@media (max-width: 834px) {
  .services-item img {
    width: 7%;
  }
}

.services__column_left {
  background: url(../images/services-1.jpg) center no-repeat;
  background-size: cover;
}

.services__column_right {
  background: url(../images/services-2.jpg) left center no-repeat;
  background-size: cover;
}
@media (max-width: 1195px) {
  .services__column_right {
    margin-left: auto;
    background: url(../images/services-2.jpg) center top no-repeat;
    background-size: cover;
  }
}

.services-button {
  margin-top: 40px;
}

.contact {
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 1195px) {
  .contact {
    padding: 200px 0 100px;
  }
}
@media (max-width: 834px) {
  .contact {
    padding: 100px 0 100px;
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  background: var(--color-white);
}
@media (max-width: 490px) {
  .contact__container {
    overflow: hidden;
  }
}

.contact__form-column {
  width: 61.875%;
  padding: 70px 50px 70px 134px;
}
@media (max-width: 1280px) {
  .contact__form-column {
    padding: 70px 50px 70px 70px;
  }
}
@media (max-width: 1195px) {
  .contact__form-column {
    padding: 50px;
  }
}
@media (max-width: 576px) {
  .contact__form-column {
    padding: 25px;
  }
}
@media (max-width: 490px) {
  .contact__form-column {
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.94)), color-stop(47%, rgba(240, 241, 241, 0.91))), url(../images/main-foto.jpg);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.94) 0%, rgba(240, 241, 241, 0.91) 47%), url(../images/main-foto.jpg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.94) 0%, rgba(240, 241, 241, 0.91) 47%), url(../images/main-foto.jpg);
    background-position: 30% 0px;
    background-repeat: no-repeat;
    background-size: inherit;
  }
}

.contact-form {
  width: 100%;
}
.contact-form div {
  width: 100%;
}
.contact-form div input:not([type=checkbox]) {
  width: 100%;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  padding: 13px 20px 13px 38px;
  height: 65px;
  margin-bottom: 13px;
}
.contact-form div input:not([type=checkbox])::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  opacity: 0.7;
}
.contact-form div input:not([type=checkbox])::-moz-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  opacity: 0.7;
}
.contact-form div input:not([type=checkbox]):-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  opacity: 0.7;
}
.contact-form div input:not([type=checkbox])::-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  opacity: 0.7;
}
.contact-form div input:not([type=checkbox])::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  opacity: 0.7;
}
@media (max-width: 834px) {
  .contact-form div input:not([type=checkbox])::-webkit-input-placeholder {
    font-size: 20px;
  }
  .contact-form div input:not([type=checkbox])::-moz-placeholder {
    font-size: 20px;
  }
  .contact-form div input:not([type=checkbox]):-ms-input-placeholder {
    font-size: 20px;
  }
  .contact-form div input:not([type=checkbox])::-ms-input-placeholder {
    font-size: 20px;
  }
  .contact-form div input:not([type=checkbox])::placeholder {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .contact-form div input:not([type=checkbox])::-webkit-input-placeholder {
    font-size: 16px;
  }
  .contact-form div input:not([type=checkbox])::-moz-placeholder {
    font-size: 16px;
  }
  .contact-form div input:not([type=checkbox]):-ms-input-placeholder {
    font-size: 16px;
  }
  .contact-form div input:not([type=checkbox])::-ms-input-placeholder {
    font-size: 16px;
  }
  .contact-form div input:not([type=checkbox])::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 834px) {
  .contact-form div input:not([type=checkbox]) {
    height: 45px;
    padding: 13px 20px 13px 15px;
  }
}
@media (max-width: 576px) {
  .contact-form div input:not([type=checkbox]) {
    padding: 13px 20px 10px 15px;
  }
}
.contact-form div [type=checkbox] {
  margin-bottom: 30px;
}
.contact-form div label {
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  color: var(--color-accent);
}
.contact-form div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-form .btn {
  color: var(--color-white);
}

.contact__title {
  font-size: clamp(20px, 2.8125vw, 54px);
  font-weight: 400;
  line-height: 110%;
  color: var(--color-accent);
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .contact__title {
    margin-bottom: 20px;
  }
}

.contact__decor {
  position: relative;
  width: 58%;
  background: url(../images/8-8-3.png) center bottom no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px 0;
}
@media (max-width: 992px) {
  .contact__decor {
    width: 35%;
  }
}
@media (max-width: 490px) {
  .contact__decor {
    display: none;
  }
}

.contact__decor_img {
  position: absolute;
  width: 522px;
  bottom: 0;
  left: -35px;
}
@media (max-width: 1195px) {
  .contact__decor_img {
    width: 460px;
  }
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 28px;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkbox-box {
  width: 24px;
  height: 24px;
  border: 2px solid #405d65; /* По макету */
  border-radius: 4px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-checkbox:hover .checkbox-box {
  border-color: var(--color-accent);
}

.custom-checkbox input:checked + .checkbox-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 6px;
  border: 2px solid var(--color-accent);
  border-top: none;
  border-right: none;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.custom-checkbox input:checked + .checkbox-box {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.bottom-menu {
  padding: 40px 0;
  border-top: 2px solid rgba(213, 201, 190, 0.2509803922);
  border-bottom: 2px solid rgba(213, 201, 190, 0.2509803922);
  background: var(--color-dark);
}
.bottom-menu .nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.footer {
  width: 100%;
  padding: 40px 0;
}

.footer__top .main-logo {
  width: 193px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 576px) {
  .social {
    gap: 20px;
  }
}
@media (max-width: 360px) {
  .social {
    gap: 15px;
  }
}
@media (max-width: 360px) {
  .social a {
    display: inline-block;
    width: 20px;
  }
}

.footer__bottom {
  padding-top: 38px;
  padding-bottom: 60px;
}
.footer__bottom p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__bottom p span {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-white);
}
@media (max-width: 425px) {
  .footer__bottom p span {
    font-size: 14px;
  }
}
.footer__bottom p a {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #d5c9be;
  text-decoration: none;
}
@media (max-width: 425px) {
  .footer__bottom p a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer__btn .btn {
    width: 195px;
  }
}
@media (max-width: 768px) {
  .footer__btn {
    width: 100%;
  }
}

.menu-btn {
  position: absolute;
  right: 10px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #444;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background 0.3s ease, -webkit-transform 0.4s ease;
  transition: background 0.3s ease, -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease, background 0.3s ease;
  transition: transform 0.4s ease, background 0.3s ease;
  transition: transform 0.4s ease, background 0.3s ease, -webkit-transform 0.4s ease;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 425px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-btn.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #ff5733;
}

.menu-btn.active::after {
  content: "→";
  font-size: 31px;
  font-weight: bold;
  position: absolute;
  left: 1%;
  top: 35%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(173deg) rotate(89deg);
}

.menu-btn::after {
  content: "?";
  font-size: 20px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */